<% provide(:title, 'Add a pitch') %>

<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Add a pitch</li>
    
  <li class="pull-right"><%= link_to "Sign out", signout_path %></li>
</ul>

<div class="create-pitch">
  <%= form_for(@pitch) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <% @locations.each_with_index do |n, index| %>
      <% if index % 8 == 0 && index != 0 %>
        <br>
      <% end %>
      <% color = "red" %>
      <%= f.radio_button :location, n %>
    <% end %>
    <br>
    
    <%= f.label :label %>
    <%= f.select :label, options_for_select(@labels) %>
    <br>
    
    <%= f.label :outcome %>
    <%= f.select :outcome, options_for_select(@outcomes) %>
    <br>
    <br>
    <%= f.hidden_field :player_id, {id: @pitch.player_id} %>
    <%= f.submit "Submit Pitch", class: "btn btn-large btn-primary" %>
  <% end %>
  
</div>

<br>

<div class="pitch-grid">
  <div class="left">
    <%= link_to " ", "/" %>
  </div>
  <div class="upper-left">
    <%= link_to " ", "/" %>
  </div>
  <div class="upper-right">
    <%= link_to " ", "/" %>
  </div>
  <div class="right">
    <%= link_to " ", "/" %>
  </div>
  <div class="top1">
    <%= link_to " ", "/" %>
  </div>
  <div class="top2">
    <%= link_to " ", "/" %>
  </div>
  <div class="top3">
    <%= link_to " ", "/" %>
  </div>
  <div class="top4">
    <%= link_to " ", "/" %>
  </div>
  <div class="top5">
    <%= link_to " ", "/" %>
  </div>
  <div class="top6">
    <%= link_to " ", "/" %>
  </div>
  <div class="top7">
    <%= link_to " ", "/" %>
  </div>
  <div class="top8">
    <%= link_to " ", "/" %>
  </div>
  <div class="top9">
    <%= link_to " ", "/" %>
  </div>
  <div class="left2">
    <%= link_to " ", "/" %>
  </div>
  <div class="lower-left">
    <%= link_to " ", "/" %>
  </div>
  <div class="lower-right">
    <%= link_to " ", "/" %>
  </div>
  <div class="right2">
    <%= link_to " ", "/" %>
  </div>
</div>